{% load static %}

<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data ze senzoru</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="{% static 'script.js' %}" defer></script>
</head>
<body>
    <h1>Data ze senzoru</h1>

    <div class="current-data">
        {% if data %}
        <div>
            <h2>{{ data.0.desired_temp }} °C</h2>
            <p>Teplota žádaná</p>
            <div class="temperature-controls">
                <button onclick="updateDesiredTemp(1)">+</button>
                <button onclick="updateDesiredTemp(-1)">-</button>
            </div>
        </div>
        <div>
            <h2>{{ data.0.temperature }} °C</h2>
            <p>Teplota aktuální</p>
        </div>
        <div>
            <h2>{{ data.0.humidity }} %</h2>
            <p>Vlhkost</p>
        </div>
        <div>
            <h2>{{ data.0.timestamp|date:"H:i:s" }}</h2>
            <p>Čas poslední aktualizace</p>
        </div>
        {% else %}
        <p>Žádná data nejsou k dispozici</p>
        {% endif %}
    </div>

    <table>
        <thead>
            <tr>
                <th>Teplota aktuální (°C)</th>
                <th>Teplota žádaná (°C)</th>
                <th>Vlhkost (%)</th>
            </tr>
        </thead>
        <tbody>
            {% for datum in data|slice:":3" %}
            <tr>
                <td>{{ datum.temperature }}</td>
                <td>{{ datum.desired_temp }}</td>
                <td>{{ datum.humidity }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Graf -->
    <div class="chart-container">
        <canvas id="sensorChart"></canvas>
    </div>

    <input type="text" id="ferment-name" placeholder="Zadejte název fermentace">
    <button id="fermentButton" class="btn btn-primary" onclick="toggleFermentation()">
        {% if active_ferment %}
            Deaktivovat fermentaci
        {% else %}
            Aktivovat fermentaci
        {% endif %}
    </button>

<!-- Rozbalovací seznam pro výběr várky _03 -->
<select id="batchSelect" onchange="renderBatchChartForSelected()">
    <option value="">Vyberte várku</option>
    {% for batch in ferment_batches %}
        <option value="{{ batch.id }}">{{ batch.name }}</option>
    {% endfor %}
</select>

<button id="deleteButton" class="btn btn-danger" onclick="deleteSelectedBatch()">Smazat vybranou várku</button>





    <!-- Canvas pro graf vybrané várky -->
    <div class="chart-container">
        <canvas id="selectedBatchChart"></canvas>
    </div>
</body>
</html>
